
@{
    ViewBag.Title = "Product";

}
@if (Session["UserName"] == null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else if (Session["UserName"] != null)
{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model List<SoccerWorld.Models.DetailCarts>
<div class="h3 text-danger mx-auto" style="width: 200px;">Giỏ hàng</div>

@if (Model.Count() > 0)
{
    <div class="row">

        <div class="col-sm-12 col-12">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th scope="col">Sản Phẩm</th>
                        <th scope="col">Giá </th>
                        <th scope="col">Kích cỡ</th>
                        <th scope="col">Màu</th>
                        <th scope="col" style="width:8rem">Số Lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <th>
                                <div class="row">
                                    <div class="col-3">
                                        @Html.Action("GetImgCard", new { id = x.product.Sp.ID })
                                    </div>
                                    <div class="col-9">
                                        <p>@x.product.Sp.TenSanpham</p>
                                    </div>
                                </div>
                            </th>
                            <th>
                                @x.product.Sp.Gia VND
                            </th>
                            <th>@x.product.Kc.Mota</th>
                            <th>@x.product.Ms.TenMau</th>
                            <th>@x.quantity</th>
                            <th><a class="h4" href="@Url.Action("RemoveItem","Home", new { id = x.product.ID })">Xóa</a></th>

                        </tr>

                    }


                </tbody>
            </table>
            <div class="d-flex justify-content-center mt-5 mb-5">
                
                <a href="#">
                    <div class="btn btn-danger">Thanh Toán</div>
                </a>
            </div>

        </div>

    </div>

}
else
{
    <div class="h4 text-primary mx-auto m-5" style="width: 200px;">Giỏ hàng trống :<</div>
}


